.sponsersWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsersWrapper .sponsersCard{
    flex-direction: row;   
    gap:4rem;
    display: flex;
}

@media screen and (max-width: 640px) {
    .sponsersWrapper .sponsersCard {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

