.notFoundWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFoundWrapper div{
    font-family: var(--text-heading);
    font-size: 15rem;
    margin-bottom: 2rem;
}

.notFoundWrapper button {
    padding: 1.5rem 2rem;
	background-color: transparent;
	border: 1px solid var(--foreground);
	color: var(--foreground);
	font-family: var(--text-body);
    box-shadow: 2px 2px 4px var(--foreground);
	border-radius: var(--border-radius) 0 var(--border-radius) 0;
	font-size: 2.1rem;
    transform: skewX(20deg); 
    margin-bottom: 2rem;
}

.notFoundWrapper button span {
    transform: skewX(90deg);
    font-size: 3rem;
    font-family: var(--text-body);
}

.notFoundWrapper button:hover {
    background-color: var(--foreground);
	color: var(--background);
}

.marqueeContainerTwo {
    width: 100%;
    height: 10rem;
    transform: skewX(-20deg); 
    overflow: hidden;
}


@media screen and (max-width: 600px) {
    .notFoundWrapper div{
        font-size: 10rem;
    }
    
}